@import "main.css";

html {
  background: linear-gradient(172deg, #C0C0C0 -5.86%, #6C79A8 109.43%);
  min-height: 1533px;
}

.list-heading {
  margin: 45px 0 15px 0;
  text-align: center;
  color: #FFF;
  font-size: clamp(70px, 10vw, 90px);
  font-weight: 400;
  text-decoration-line: underline;
}

.list-small-heading {
  margin: 0;
  color: #FFF;
  text-align: center;
  font-weight: 400;
  font-size: clamp(32px, 10vw, 64px);
}

.list-small-heading:not(:last-child) {
  margin-bottom: 15px;
}

.info {
  margin-top: 222px;
}

.info-image {
  width: 561px;
  max-height: 315px;
  border-radius: 52px;
}

.info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-item:not(:last-child) {
  margin-bottom: 50px;
}

.info-item-level-description {
  display: block;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
  padding-left: 60px;
}

.info-item-level-name {
  margin: 0 0 13px 0;
  color: #FFF;
  font-size: clamp(32px,10vw,52px);
  font-weight: 400;
}

.info-item-level-author {
  line-height: 1.5;
  color: #E5E5E5;
  font-size: clamp(22px,10vw,42px);
  font-weight: 400;
}

.info-item-level-description {
  max-width: 600px;
  color: #FFF;
  font-size: clamp(20px,10vw,40px);
  font-weight: 400;
}

.info-rules {
  margin-bottom: 50px;
  margin-top: 100px;
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

#info-arrow {
  display: block;
  transition: transform 0.5s;
  margin-top: 20px;
  background: transparent;
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
}

#info-text {
  display: none;
  color: white;
  text-transform: uppercase;
  font-size: 19px;
  max-width: 800px;
}

.rotated {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.footer::before {
  width: 100vw;
  border-bottom: 6px solid white;
  margin-right: auto;
}

.footer-rights, .footer-ver {
  color: white;
  padding-left: 0;
}

.footer {
  background-color: transparent;
  margin-left: 0;
  left: 0%;
}

@media screen and (max-width: 1025px) {
  img {
    max-width: 87%;
  }

  .info-item {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 955px) {
  .footer::before {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    background-color: transparent;
    margin-left: 0;
    left: 0%;
    width: 300px;
  }
}